<div class="dishes-wrapper row">
  <div class="dish">
    <div class="dish-head">
      <div class="name .col-xs-6 .col-sm-4">
        <%= @dish.name %>
      </div>
    </div>
    <div class="image center-block">
      <%= image_tag @dish.image.url(:medium), class:'img-responsive' %>
    </div>
    <p class="description .col-xs-6 .col-sm-4">
      <%= @dish.description %>
    </p>
    <div class="text-center edit-links">
      <%= link_to "Cancel", dishes_path %>
      |
      <%= link_to "Edit Dish", edit_dish_path(@dish) %>
    </div>
  </div>
</div>
